/* .bg-white {
    background-color: royalblue !important;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9) !important;
} */